$board-header__title-color: #b0c4de;

.board-header {
  margin: 20px 0;
  padding: 0 15px;

  .board-header__title {
    display: -webkit-box;
    overflow-y: hidden;
    margin: 0;
    color: $board-header__title-color;
    font-size: 24px;
    font-weight: 500;
    word-break: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .board-header__title-desc {
    max-height: 60px;
    overflow-y: hidden;
    margin-top: 10px;
    margin-left: 4px;
    font-weight: 100;
    font-size: 16px;
    -webkit-line-clamp: 3;
  }
}

.board-header__btn {
  padding: 6px 10px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  align-self: baseline;
  gap: 8px;

  color: white;
  text-decoration: none;
  background-color: rgba(124, 172, 211, 0.4);
  border-radius: 4px;

  transition: background-color 150ms linear;

  &:hover {
    background-color: rgba(124, 172, 211, 0.3);
  }
}

.board-header-title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.board {
  /*   padding-bottom: 15px; */
  overflow-x: auto;
  white-space: nowrap;
}
