body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #000428;
  background: -webkit-linear-gradient(to top, #004e92, #000428);
  background: linear-gradient(to top, #004e92, #000428);

  min-height: 100vh;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* firefox scroll */
  scrollbar-width: thin;
  scrollbar-color: #29539b #999;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid #666;
  background-color: #29539b;
  background: linear-gradient(to top, #004e92, #000428);
}
