@import '../../sass/variables.scss';

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  transition: all 0.3s;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  cursor: unset;
  position: relative;
  max-width: 280px;
  min-width: 220px;
  min-height: 160px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;

  .modal-header {
    position: relative;
    min-height: 50px;
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    padding: 10px 40px 10px 10px;
    display: flex;
  }

  .excl-red {
    color: red;
    padding: 5px;
  }

  .modal-descriptor {
    font-weight: bold;
  }
  .modal-cross {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background: url('../../assets/svg/closew.svg') center / cover no-repeat;
  }
  .modal-buttons-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    .modal-button {
      margin: 5px;
      border: 2px solid gray;
      background: #fff;
    }
    .ok-button {
      &:hover {
        border: 2px solid red;
        color: red;
      }
    }
    .cancel-button {
      &:hover {
        border: 2px solid $blue-trello;
        color: $blue-trello;
      }
    }
  }
}
