.not-found-text {
  text-align: center;
}

.not-found-button-wrapper {
  .main-nav-btn {
    margin: auto;
  }
}

.not-found-vector {
  height: 60vh;
  width: 100%;
  background: url('../../assets/svg/404.svg') center/ contain no-repeat;
}
